// color scheme :
// CL : #EF6079FF
// PL : #F99FC9FF
// CompOff : #8ABAD3FF
// WFH : #F0F6F7FF
.CL-prop{
    background: rgb(236, 186, 194);
    border-bottom: solid black 1px;
    
}

.PL-prop{
    background: rgb(221, 215, 240);
    border-bottom: solid black 1px;
}

.WFH-prop{
    background: rgb(214, 243, 186);
    border-bottom: solid black 1px;
}

.CompOff-prop{
    background: rgb(242, 243, 163);
    border-bottom: solid black 1px;
}

.miscLeave-prop{
    background: rgb(231, 229, 229);
    border-bottom: solid black 1px;
}

.button {
    width: 20; 
    height: 45;
    padding: 0;
  }

